PORT=3000
BACK_HOST_URL=http://localhost:${PORT}

SWAGGER_PASS=admin

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres

REDIS_HOST=localhost
REDIS_PORT=6379

CLIENT_API_URL=https://example.com

PRIVATE_KEY_SECRET=sdaf31232f33fsdf4567890saf32fsd

IP_WHITELIST=127.0.0.1,192.168.1.1,::1

API_KEY_SECRET=sdaf31232f33fsdf4567890saf32fsd

TRON_USDT_CONTRACT_ADDRESS=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
TRON_HOST_URL=https://api.trongrid.io
TRONSAVE_API_URL=https://api.tronsave.io
TRONSAVE_RECEIVER_ADDRESS=TWZEhq5JuUVvGtutNgnRBATbF8BnHGyn4S
TRONSAVE_API_KEY=12f1f-qff-12f1-qfwe-12f1f1

ETH_USDT_CONTRACT_ADDRESS=0xdAC17F958D2ee523a2206206994597C13D831ec7
ETH_RPC_URL=https://mainnet.infura.io/v3/asdf3fsadf
ETH_WSS_URL=wss://mainnet.infura.io/ws/v3/asdf3fsadf

BTC_API_URL=https://api.blockcypher.com/v1/btc/main
BTC_WSS_URL=wss://socket.blockcypher.com/v1/btc/main

BLOCKCYPHER_API_KEY=f123fwefwef