PORT=3000
BACK_HOST_URL=http://localhost:${PORT}

SWAGGER_PASS=admin

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres

REDIS_HOST=localhost
REDIS_PORT=6379

CLIENT_API_URL=https://example.com

PRIVATE_KEY_SECRET=sdaf31232f33fsdf4567890saf32fsd

IP_WHITELIST=127.0.0.1,192.168.1.1,::1

API_KEY_SECRET=sdaf31232f33fsdf4567890saf32fsd

TRON_HOST_URL=https://rpc.ankr.com/premium-http/tron/asdf3fsadf
TRONSAVE_API_URL=https://api.tronsave.io
TRONSAVE_RECEIVER_ADDRESS=TWZEhq5JuUVvGtutNgnRBATbF8BnHGyn4S
TRONSAVE_API_KEY=12f1f-qff-12f1-qfwe-12f1f1

ETH_RPC_URL=https://mainnet.infura.io/v3/asdf3fsadf
ETH_WSS_URL=wss://mainnet.infura.io/ws/v3/asdf3fsadf

BASE_RPC_URL=https://rpc.ankr.com/base/asdf3fsadf
BASE_WSS_URL=wss://rpc.ankr.com/base/asdf3fsadf

BSC_RPC_URL=https://rpc.ankr.com/bsc/asdf3fsadf
BSC_WSS_URL=wss://rpc.ankr.com/bsc/asdf3fsadf

POLYGON_RPC_URL=https://rpc.ankr.com/polygon/asdf3fsadf
POLYGON_WSS_URL=wss://rpc.ankr.com/polygon/asdf3fsadf

ARBITRUM_RPC_URL=https://rpc.ankr.com/arbitrum/asdf3fsadf
ARBITRUM_WSS_URL=wss://rpc.ankr.com/arbitrum/asdf3fsadf

OPTIMISM_RPC_URL=https://rpc.ankr.com/optimism/asdf3fsadf
OPTIMISM_WSS_URL=wss://rpc.ankr.com/optimism/asdf3fsadf

AVALANCHE_C_RPC_URL=https://rpc.ankr.com/avalanche-c/asdf3fsadf
AVALANCHE_C_WSS_URL=wss://rpc.ankr.com/avalanche-c/asdf3fsadf

FANTOM_RPC_URL=https://rpc.ankr.com/fantom/asdf3fsadf
FANTOM_WSS_URL=wss://rpc.ankr.com/fantom/asdf3fsadf

BTC_API_URL=https://api.blockcypher.com/v1/btc/main